Hello!  What is your username?

<form method="post" action="user_name">
	<input type="text" name="name_provided"> <!-- input_name = "Jim" -->
	<input type="submit">
</form>

<button type="button" onclick="document.getElementById('date').innerHTML = Date()">Click here to show the Date and Time</button>
<p id="date"></p>
