<head>
<title>
Personality Info
</title>
<link rel ="stylesheet" href ="css/style.css">
</head>
<body><center>
<%=yield%>
</center>
</body>
<footer>
<hr>
<center>
<p class="fp">
123 MinedMinds Way<br>
Waynesbug, PA<br>
<br><br>
trixie@minedminds.org
</p>
<a href="http://minedminds.org"><img class="fimg" src="img/MMlogo.jpg"></img></a>
</center>
</footer>