<head>
	<title>
		Personality Info
	</title>
	<link rel ="stylesheet" href ="css/style.css">
</head>
<body>
		<%=yield%>
</body>
<footer>
	<hr>
		<div class="fp">
			<p>123 MinedMinds Way</p>
			<p>Waynesbug, PA</p>
			<p>trixie@minedminds.org</p>
		</div>
		<a href="http://minedminds.org"><img class="fimg" src="img/MMlogo.jpg"></img></a>
</footer>